hr {
  color: #cdcdcd;
  width: 80%; }

* {
  scroll-behavior: smooth;
  cursor: -moz-zoom-in;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  text-align: center;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif; }

nav {
  height: 18vh;
  background: #282828;
  background: linear-gradient(0deg, #282828 0%, black 29%); }
  nav div .m-t-i {
    color: #fff !important;
    font-size: 30px !important; }
  nav div div ul li a {
    color: #fff !important; }
  nav div div ul li .focus {
    color: #add1ff !important;
    transform: scale(1.1); }
  nav img {
    width: 100px; }
    nav img:hover {
      animation-name: vueltitas;
      animation-duration: 6s;
      animation-direction: initial; }

@keyframes vueltitas {
  20% {
    transform: scale(0.7);
    translate: -20px 20px; }
  50% {
    transform: scaleY(0.6);
    translate: -20px 30px; }
  75% {
    translate: -20px 0px;
    transform: rotateZ(50deg); }
  85% {
    transform: rotateZ(-360deg); }
  100% {
    transform: scale(1); } }

.body-m main {
  display: flex;
  width: 100%;
  background-image: url("../img/galeria/galeria2.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100vh;
  background-attachment: fixed; }
  .body-m main section {
    width: 70%;
    height: auto;
    margin-top: 30px;
    z-index: 500;
    display: flex; }
    .body-m main section div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .body-m main section div .mover {
        margin-top: 50px; }
      .body-m main section div .tarjeta {
        width: 90%;
        margin-bottom: 30px;
        background-color: #000000b1;
        border-radius: 0px 0px 30px 30px; }
        .body-m main section div .tarjeta img {
          width: 100%;
          height: auto;
          margin-bottom: 20px; }
        .body-m main section div .tarjeta div {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .body-m main section div .tarjeta div h3 {
            font-size: 20px;
            color: #fff;
            margin-bottom: 10px; }
          .body-m main section div .tarjeta div img {
            width: 50px;
            height: auto; }
        .body-m main section div .tarjeta p {
          width: 90%;
          color: #fff;
          display: block; }
        .body-m main section div .tarjeta a {
          padding: 7px;
          color: #add1ff;
          border-radius: 15px;
          border: solid #add1ff 1px;
          transition: 1s;
          margin-bottom: 15px; }
          .body-m main section div .tarjeta a:hover {
            background-color: #add1ff;
            color: #000; }
          .body-m main section div .tarjeta a:focus {
            background-color: gold; }
  .body-m main aside {
    width: 30%;
    background-color: #000000ba;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0; }
    .body-m main aside img {
      width: 90%;
      margin-top: 20px;
      height: auto; }
    .body-m main aside h1 {
      margin-top: 20px;
      font-size: 25px;
      color: #fff;
      margin-bottom: 20px; }
    .body-m main aside p {
      width: 90%;
      font-size: 13px;
      color: #fff;
      margin-bottom: 0px; }
    .body-m main aside .gracia {
      width: 5vw;
      height: auto; }

.body-g {
  background-image: url(../img/galeria/galeria38.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100vh;
  background-attachment: fixed; }
  .body-g section {
    margin: 40px auto;
    width: 95%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px; }
    .body-g section div {
      position: relative;
      text-align: center;
      border: solid #fff 1px; }
      .body-g section div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .6s; }
        .body-g section div img:hover {
          filter: brightness(0.6); }
    .body-g section .img2 {
      grid-column: span 2;
      grid-row: span 2; }
    .body-g section .img3 {
      grid-row: span 2; }
    .body-g section .img4 {
      grid-column: span 2; }
    .body-g section .img5 {
      grid-column: span 2;
      grid-row: span 2; }
    .body-g section .img8 {
      grid-column: span 3;
      grid-row: span 2; }
    .body-g section .img11 {
      grid-row: span 3; }
    .body-g section .img12 {
      grid-column: span 2;
      grid-row: span 2; }
    .body-g section .img13 {
      grid-row: span 2; }
    .body-g section .img14 {
      grid-column: span 2;
      grid-row: span 3; }
    .body-g section .img15 {
      grid-column: span 2; }
    .body-g section .img16 {
      grid-row: span 2;
      grid-column: span 2; }
    .body-g section .img17 {
      grid-row: span 3; }
    .body-g section .img18 {
      grid-column: span 2; }

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40vh;
  background-color: #222; }
  footer .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    footer .redes a img {
      width: 50px;
      height: 50px; }
  footer .footer-info {
    padding: 10px;
    display: flex;
    color: #777;
    flex-direction: column;
    justify-content: space-evenly; }
    footer .footer-info a {
      color: #777;
      transition: color .5s; }
      footer .footer-info a:hover {
        color: #999;
        text-decoration: underline; }
  footer .yo {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .yo img {
      width: 8vw;
      height: 14vw;
      min-width: 80px;
      min-height: 150px;
      background-color: #000;
      border-radius: 10px;
      padding: 5px;
      border: solid #fff 1px; }

@media only screen and (max-width: 1150px) {
  .body-m main {
    flex-direction: column;
    align-items: center; }
    .body-m main aside {
      position: relative;
      width: 60%;
      height: auto; }
      .body-m main aside h1 {
        font-size: 30px; }
      .body-m main aside p {
        font-size: 20px; }
      .body-m main aside .gracia {
        width: 40%; }
    .body-m main section {
      width: 100%; }
      .body-m main section div {
        width: 100%; }
        .body-m main section div .tarjeta {
          width: 80%; }
  nav {
    height: auto; }
    nav img {
      display: none; } }

@media only screen and (max-width: 730px) {
  .body-m main aside {
    width: 96%; }
  .body-m main section {
    flex-direction: column; }
    .body-m main section div {
      width: 100%; }
  .body-g section {
    grid-auto-rows: 100px; } }

@media only screen and (max-width: 490px) {
  footer {
    font-size: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vh; }
    footer .redes {
      flex-direction: row;
      grid-column: 1/4;
      grid-row: 2/3; }
    footer .yo {
      grid-row: 3/6;
      grid-column: 1/4; }
      footer .yo img {
        width: 30vw;
        height: 60vw; } }
