*{
    scroll-behavior: smooth;
    cursor: -moz-zoom-in;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.body-1{
    color: #fff;
    background-image: url(../img/fondo-todo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
iframe{
    padding: 5px;
    border: solid #fff 1px;
    background-color: #000;
}
h2{
    font-size: 40px;
}
/* Header */
nav{
    height: 18vh;
    background: rgb(40,40,40);
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 29%);
}
.nav-link, .m-t-i{
    color: white !important;
}
.m-t-i{
    font-size: 30px !important;
}
nav img{
    width: 100px;
}
nav img:hover{
    animation-name: vueltitas;
    animation-duration: 6s;
    animation-direction: initial;

}
@keyframes vueltitas{
    20%{
        transform: scale(.7);
        translate: -20px 20px;
    }
    50%{
        transform:scaleY(.6) ;
        translate: -20px 30px;
    }
    75%{
        translate: -20px 0px;
        transform: rotateZ(50deg);
    }
    85%{
        transform: rotateZ(-360deg);
    }
    100%{
        transform: scale(1);
    }
}
.focus{
    color: #add1ff !important;
    transform: scale(1.1);
}
.focus-n{
    color: #add1ff !important;
}
.white{
    color: #fff !important;
}
/* Hero */
.hero-1{
    background-image: url(../img/fondo-header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82vh;
    color: transparent;
    transition: color,text-shadow .4s;
}
.hero-1 h2{
    font-size: 100px;
    font-family: 'elden';
}
.hero-1:hover{
    color: #fffb12;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffd900, 0 0 30px #ffd900, 0 0 40px #ffd900, 0 0 55px #ffd900, 0 0 50px #ffd900;
}

/* Main */

.main-1{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-main-cont{
    width: 70%;
    margin-top: 40px;
}


.section-info-g{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-info-g h2{
    margin-bottom: 20px;
}
.section-info-g div{
    width: 70%;
    margin-bottom: 20px;
}
.section-info-g div p{
    font-size: 20px;

}
.section-info-g__div img{
    float: right;
    margin: 0px 0px 10px 10px;
    width: 38%;
}


.info-precisa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.info-precisa table{
    border: solid #fff 1px;
    width: 50%;
}


.trailer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.trailer h2{
    margin-bottom: 20px;
}
.trailer iframe{
    width: 30vw;
    height: 15vw;
    margin-bottom: 20px;
}
.trailer div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trailer div iframe{
    width: 30%;
    height: fit-content;
    margin-bottom: 20px;
    
}

/* MAIN 2 */

.main-2{
    width: 100%;
    text-align: center;
}
.main-2 .mecanicas{
    background-color: #222;
    border-bottom: solid #fff 1px;
}
.main-2 h2{
    font-size: 40px;
    padding: 10px 0px;
}
.main-2 section{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-2-div{
    background-color: #cfcfcf;
    margin-top: 20px;
    width: 30%;
    min-width: 320px;
    text-align: center;
    border: solid #888 1px;
    border-radius: 30px 30px 0px 30px;
    color: #000;
    transition: all .8s;
}
.main-2-div:hover{
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
}
.main-2-div h3{
    font-size: 25px;
}
.main-2-div img{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
}
.main-2-div p{
    margin: 20px;
}
.main-2-div a{
    color: #8500a7;
    transition: color .6s;
}
.main-2-div a:hover{
    color: #ff207d;
}

/* Aside */

aside{
    width: 22%;
}
aside h3{
    margin: 20px 0px;
    font-size: 15px;
}
.div-aside{
    font-size: 14px ;
    width: 100%;
    background-color: #222;
    color: #fff;
    border: solid #ffffff 1px;
    border-radius: 20px;
}
aside section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-ima{
    display: flex;
    text-align: center;
	background-color: #000;
    height: 11vw;
    width: 11vw;
    margin: 5px 0px;
    max-width: 250px;
    max-height: 250px;
	min-width: 80px;
	justify-content: center;
	align-items: center;
    transition: all .6s;
}
.contenedor-ima:hover{
    width:12vw;
	border: solid #fff .5px;
    border-radius: 10px;
	padding: 5px;
    height: 12vw;
}
.a-per-memo{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size:25px;
	color: transparent;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	transition: 1s;
}
.a-per-memo:hover{
	filter: brightness(.7);
	color:rgb(249, 255, 126);
}
.a-per-memo div h3{
    z-index: 300px;
}
.marika{
    background-image: url(../img/personajes/marika-ft.jpg);
}
.maliketh{
    background-image: url(../img/personajes/maliketh-ft.jpg);
}
.margit{
    background-image: url(../img/personajes/margit-ft.jpg);
}

.armas-reco div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.armas-reco div div{
	display: flex;
    justify-content: center;
	flex-direction: row;
}
.div-armas{
	color: transparent;
    text-align: center;
	background-size: 100% 100%;
	width: 8vw;
	height: 8vw;
	transition: .5s;
}
.div-armas:hover{
	color: white;
	width: 9vw;
	height: 9vw;
	filter: brightness(.8);
	border: solid white 1px;
}

.luz-de-luna{
    background-image: url(../img/eluzluna.jpg);
}
.rios-de-sangre{
    background-image: url(../img/rs.jpg);
}
.espadon{
    background-image: url(../img/espadon.jpg);
}
.sabuezo{
    background-image: url(../img/esabuezo.jpg);
}

.div-suce{
    color: transparent;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
	background-size: cover;
	width: 15vw;
    margin: 5px 0px;
    height: 10vw;
	transition: .5s;
}
.div-suce:hover{
    color: white;
	width: 16vw;
	filter: brightness(.8);
	border: solid white 1px;
}

.cuchillos-negros{
    background-image: url(../img/godwyn.jpg); 
}
.d-ring{
    background-image: url(../img/d-anillo.jpg);
    background-position: right;
}
.e-devastacion{
    background-image: url(../img/e-devastacion.jfif);
}
.b-elden{
    background-image: url(../img/personajes/b-elden.jfif);
    margin-bottom: 20px;
}



/* Footer */

footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40vh;
    background-color: #222;
}


.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.redes a img{
    width: 50px;
    height: 50px;
}

.footer-info{
    padding: 10px;
    display: flex;
    color: #777;
    flex-direction: column;
    justify-content: space-evenly;
}
.f1{
    align-items: end;
}
.f2{
    align-items: center;
}
.f3{
    align-items: self-start;
}
.footer-info a{
    color: #777;
    transition: color .5s;
}
.footer-info a:hover{
    color: #999;
    text-decoration: underline;
}
.yo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yo img{
    width: 8vw;
    height: 14vw;
    min-width: 80px;
    min-height: 150px;

    background-color: #000;
    border-radius: 10px;
    padding: 5px;
    border: solid #fff 1px;
}


/* GALERIA */

.body-g{     
    background-image: url(../img/galeria/galeria38.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
    background-attachment: fixed;
}
.grid-container{
    margin: 40px auto;
    width: 95%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 200px;
}
.grid-container div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.grid-item{
    position: relative;
    text-align: center;
    border: solid #fff 1px;
}
.grid-item img{
    transition: .6s;
}
.grid-item img:hover{
    filter: brightness(.6);
}


.img2{
    grid-column: span 2;
    grid-row: span 2;
}
.img3{
    grid-row: span 2;
}
.img4{
    grid-column: span 2;
}
.img5{
    grid-column: span 2;
    grid-row: span 2;
}
.img8{
    grid-column: span 3;
    grid-row: span 2;
}
.img11{
    grid-row: span 3;
}
.img12{
    grid-column: span 2;
    grid-row: span 2;
}
.img13{
    grid-row: span 2;
}
.img14{
    grid-column: span 2;
    grid-row: span 3;
}
.img15{
    grid-column: span 2;
}
.img16{
    grid-row: span 2;
    grid-column: span 2;
}
.img17{
    grid-row: span 3;
}
.img18{
    grid-column: span 2;
}

/* Personajes */

.main-personajes{
    background-image: url(../img/personajes/elden-ring-main-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    color: #cfcfcf;
}
.main-personajes__section{
    width: 65%;
    background-color: #00000078;
    margin-left: 15px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-personajes__section section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.main-personajes__section h2{
    color: #eeeeee;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 5rem;
}
.personajes-div{
    width: fit-content;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,10vw);
    grid-auto-rows: 10vw;
    
}
.personajes-div__item{
    position: relative;
    width: 100%;
    height: 100%;
}
.personajes-div__item:hover > a{
    background-color: #00000091;
    color: #fff;
}
.personajes-div__item img{
    width: 100%;
    height: 100%;
}
.personajes-div__item a{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    transition: all .5s;
    background-color: #00000000;
    color: transparent;
}

.stiky-aside{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000a9;
    height: 100vh;
    margin-top: 4rem;
    position: sticky;
    top: 0
}
.stiky-aside img{
    width: 80%;
    padding: 5px;
    border: solid #cfcfcf 1px;
    margin-top: 2rem;
    aspect-ratio: 1/.6;
}
.stiky-aside h2{
        margin: 20px auto;
}

/* Items */
    .body-i{
        background-image: url(../img/items/items-fondo.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .main-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .main-items hr{
        width: 70%;
        color: #bdbdbd;
    }
    .main-items section{
        background-color: #0000003b;
        color: #fff;
        width: 90%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-items{
        display: grid !important;
        grid-template-columns: repeat(8,10vw);
        grid-auto-rows: 10vw;
        gap: 10px;
    }
    .div-items div{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .div-items div a{
        position: absolute;
        z-index: 500;
        border: transparent;
        width: 100%;
        height: 100%;
        background-color: #0000003b;
        transition: all .7s;
    }
    .ceniza-afilada:hover{
        border: solid #c1c1c1 1px;
    }
    .ceniza-calidad:hover{
        border: solid #848484 1px;
    }
    .ceniza-pesado:hover{
        border: solid #000000 1px;
    }
    .ceniza-fuego:hover{
        border: solid #ab3300 1px;
    }
    .ceniza-llameante:hover{
        border: solid #ba4b14 1px;
    }
    .ceniza-magica:hover{
        border: solid #1fbada 1px;
    }
    .ceniza-frio:hover{
        border: solid #95ffff 1px;
    }
    .ceniza-sangre:hover{
        border: solid #ff1e1e 1px;
    }
    .ceniza-sagrada:hover{
        border: solid #b9bc00 1px;
    }
    .ceniza-rayo:hover{
        border: solid #ffce0b 1px;
    }
    .ceniza-veneno:hover{
        border: solid #22b90e 1px;
    }
    .ceniza-oculto{
        border: solid #460000 1px;

    }
    .div-items div a:hover{
        background-color: transparent;
    }
    .div-items div img{
        z-index: 1000;
        width: 100%;
        height: 100%;
    }


    main .h-section{
        margin-top: 30px;
    }
    .h-section div{
        grid-template-columns: repeat(10,7vw);
        grid-auto-rows: 7vw ;
    }
    .cont-titulo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cont-titulo img{
        width: 50px;
        height: auto;
        filter: brightness(2);
    }
    .agrandar{
        grid-column: span 2;
        grid-row: span 2;
    }

    .volver-inicio{
        width: 5vw;
        position: fixed;
        z-index: 1500;
        min-width: 50px;
        right: 20px;
        bottom: 40px;
    }

@media only screen and (max-width:1050px) {
    nav{
        height: auto;
    }
    nav img{
        display: none;
    }
    .hero{
        height: 100vh;
    }

    .main-personajes__section{
        width: 100%;
    }
    .stiky-aside{
        margin-left: 15px;
    }
    .stiky-aside p{
        font-size: 12px;
    }
    .main-items section{
        width: 100%;
    }
    .div-items{
        grid-template-columns: repeat(6,15vw);
        grid-auto-rows: 15vw;
    }
    .h{
        grid-template-columns: repeat(5,18vw) !important;
    }
}
@media only screen and (max-width:730px) {
    .main-1{
        flex-direction: column;
        align-items: center;
    }
    .hero{
        background-size: cover;
    }
    .hero h2{
        font-size: 35px;
    }
    .section-info-g{
        width: 100%;
    }
    .section-info-g div{
        width: 100%;
        font-size: 15px;
    }
    .trailer iframe{
        width: 70vw;
        height: 35vw;
    }
    .trailer div iframe{
        width: 55vw;
        height: 28vw;
    }
    .body-g section div h2{
        font-size: 20px;
    }
    aside{
        width: 80%;
    }
    .contenedor-ima{
        width: 40vh;
        height: 40vh;
    }
    .contenedor-ima:hover{
        width: 42vh;
        height: 42vh;
    }
    .armas-reco div div{
        flex-direction: column;
    }
    .div-armas{
        height: 30vw;
        min-width: 100px;
        margin-top: 10px;
        width: 30vw;
    }
    .div-armas:hover{
        height: 32vw;
        width: 32vw;

    }
    .div-suce{
        font-size: 25px;
        width: 90%;
        height: 40vw;
    }
    .div-suce:hover{
        color: white;
        width: 94%;
        filter: brightness(.8);
        border: solid white 1px;
    }

    .grid-container{
        grid-auto-rows: 100px;
    }
    .main-personajes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stiky-aside{
        position: relative;
        width: 65%;
        height: auto;
        margin: 30px 0px ;

    }
    .stiky-aside img{
        margin-top: 25px;
    }
    .stiky-aside p{
        font-size: 20px;
    }
    .stiky-aside h2{
        font-size: 25px;
    }
    .main-personajes__section{
        width: 90%;
        margin: 30px 0px;
    }
    .main-personajes__section h2{
        font-size: 20px;
    }
    .personajes-div{
        grid-template-columns: repeat(4,19vw);
        grid-auto-rows: 19vw;
    }
    .div-items{
        grid-template-columns: repeat(6,15vw);
        grid-auto-rows: 15vw;
        gap: 3px;
    }
  }
@media only screen and (max-width:490px){
    .hero{
        height: 54vh;
        background-size: cover;
    }
    .section-info-g div p{
        font-size: 10px;
    }
    .info-precisa table{
        width: 90%;
    }
    footer{
        font-size: 10px;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 20vh;
    }
    .redes{
        flex-direction: row;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .yo{
        grid-row: 3/6;
        grid-column: 1/4;
    }
    .yo img{
        width: 30vw;
        height: 60vw;
    }
    .stiky-aside{
        width: 80%;
    }
    .stiky-aside p{
        font-size: 15px;
    }
    .personajes-div{
        grid-template-columns: repeat(3,23vw);
        grid-auto-rows: 23vw;
    }
    .h-section div{
        grid-template-columns: repeat(5,17vw);
        grid-auto-rows: 15vw ;
    }
    .div-items{
        grid-template-columns:repeat(4,23vw) ;
        grid-auto-rows: 23vw;
    }
}

@font-face {
    font-family: 'elden';
    
    src: url("../fuentes/prueba.ttf");
    font-weight: lighter;
}