*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.body-1{
    color: #fff;
    background-image: url(../img/fondo-todo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body{
    color: #fff;
}
iframe{
    padding: 5px;
    border: solid #fff 1px;
    background-color: #000;
}

/* Header */

header{
    width: 100%;
    font-size: 30px;
    /* font-family: 'goth'; */
    height: 15vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: solid #fff 1px;
    
}
header img{
    width:100px;
    height: 100px;
}

/* Nav */

nav{
    z-index: 200;
    width: 100%;
    height: 3vh;
    position: sticky;
    top: 0px;
    background-color: #000;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    color: #fff;
    transition: color .6s;
    margin: auto 20px;
}
nav ul li a:hover{
    color: #888;
}

/* Hero */
.hero{
    background-image: url(../img/fondo-header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 82vh;
    color: transparent;
    font-size: 35px;
    transition: color .4s;
}
.hero:hover{
    color: #fffb12;
}

/* Main */

.main-1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-main-contenedor{
    width: 70%;
}


.section-info-general{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-info-general div{
    width: 60%;
    font-size: 20px;
}
.section-info-general div img{
    float: right;
}

.info-precisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-precisa div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    border: solid #fff 1px;

}
.info-precisa div img{
    object-fit: contain;
    min-width: 200px;
}
.info-precisa div ul{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.info-precisa div ul li{
    margin-top: 10px;
}
.info-precisa div ul hr{
    width: 90%;
    color: #fff;
}


.trailer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trailer iframe{
    width: 50%;
    height: fit-content;
}
.trailer div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trailer div iframe{
    width: 15%;
    height: fit-content;
    min-width: 300px;
    
}

/* MAIN 2 */

.main-2{
    width: 100%;
    text-align: center;
}
.main-2 h2{
    font-size: 40px;
    padding: 10px 0px;
    background-color: #222;
}
.main-2 section{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-2-div{
    background-color: #cfcfcf;
    width: 30%;
    min-width: 320px;
    text-align: center;
    border: solid #fff 1px;
    border-radius: 30px 30px 0px 30px;
    color: #000;
}
.main-2-div h3{
    font-size: 25px;
}
.main-2-div img{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
}
.main-2-div p{
    margin: 20px;
}

/* Aside */

aside{
    width: 22%;
}
.div-aside{
    font-size: 14px ;
    width: 100%;
    background-color: #222;
    color: #fff;
    border: solid #ffffff 1px;
    border-radius: 20px;
}
aside section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-ima{
    display: flex;
    text-align: center;
	background-color: #000;
    height: 9vw;
    width: 9vw;
	min-width: 80px;
	justify-content: center;
	align-items: center;
    transition: all .6s;
}
.contenedor-ima:hover{
    width:10vw;
	border: solid #fff .5px;
    border-radius: 10px;
	padding: 5px;
    height: 10vw;
}
.a-per-memo{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size:25px;
	color: transparent;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	transition: 1s;
}
.a-per-memo:hover{
	filter: brightness(.7);
	color:rgb(44, 136, 255);
}
.a-per-memo div h3{
    z-index: 300px;
}
.marika{
    background-image: url(../img/marika-ft.jpg);
}
.maliketh{
    background-image: url(../img/maliketh-ft.jpg);
}
.margit{
    background-image: url(../img/margit-ft.jpg);
}

.armas-reco div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}
.armas-reco div div{
	display: flex;
    justify-content: center;
	width: 80%;
	flex-direction: row;
}
.div-armas{
	color: transparent;
    text-align: center;
	background-size: 100% 100%;
	width: 8vw;
	height: 8vw;
	transition: .5s;
}
.div-armas:hover{
	color: white;
	width: 9vw;
	height: 9vw;
	filter: brightness(.8);
	border: solid white 1px;
}

.luz-de-luna{
    background-image: url(../img/eluzluna.jpg);
}
.rios-de-sangre{
    background-image: url(../img/rs.jpg);
}
.espadon{
    background-image: url(../img/espadon.jpg);
}
.sabuezo{
    background-image: url(../img/esabuezo.jpg);
}

.div-suce{
    color: transparent;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
	background-size: cover;
	width: 15vw;
    height: 10vw;
	transition: .5s;
}
.div-suce:hover{
    color: white;
	width: 16vw;
	filter: brightness(.8);
	border: solid white 1px;
}

.cuchillos-negros{
    background-image: url(../img/godwyn.jpg); 
}
.d-ring{
    background-image: url(../img/d-anillo.jpg);
}
.e-devastacion{
    background-image: url(../img/e-devastacion.jfif);
}
.b-elden{
    background-image: url(../img/b-elden.jfif);
}



/* Footer */

footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40vh;
    background-color: #222;
}


.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.redes a img{
    width: 50px;
    height: 50px;
}

.footer-info{
    padding: 10px;
    display: flex;
    color: #777;
    flex-direction: column;
    justify-content: space-evenly;
}
.f1{
    align-items: end;
}
.f2{
    align-items: center;
}
.f3{
    align-items: self-start;
}
.footer-info a{
    color: #777;
    transition: color .5s;
}
.footer-info a:hover{
    color: #999;
    text-decoration: underline;
}
.yo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yo img{
    width: 8vw;
    height: 14vw;
    min-width: 80px;
    min-height: 150px;

    background-color: #000;
    border-radius: 10px;
    padding: 5px;
    border: solid #fff 1px;
}


/* GALERIA */

.body-g{     
    background-image: url(../img/galeria38.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
    background-attachment: fixed;
}
.grid-container{
    margin: 40px auto;
    width: 95%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 200px;
}
.grid-container div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.grid-item{
    position: relative;
    text-align: center;
    border: solid #fff 1px;
}
.grid-item h2{
    position: absolute;
    color:transparent;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .6s;
}
.grid-item h2:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}


.img2{
    grid-column: span 2;
    grid-row: span 2;
}
.img3{
    grid-row: span 2;
}
.img4{
    grid-column: span 2;
}
.img5{
    grid-column: span 2;
    grid-row: span 2;
}
.img8{
    grid-column: span 3;
    grid-row: span 2;
}
.img11{
    grid-row: span 3;
}
.img12{
    grid-column: span 2;
    grid-row: span 2;
}
.img13{
    grid-row: span 2;
}
.img14{
    grid-column: span 2;
    grid-row: span 3;
}
.img15{
    grid-column: span 2;
}
.img16{
    grid-row: span 2;
    grid-column: span 2;
}
.img17{
    grid-row: span 3;
}
.img18{
    grid-column: span 2;
}



@media only screen and (max-width:700px) {
    header{
        font-size: 20px;
        height: 20vh;
        align-items: center;
        justify-content: center;
    }
    header img{
        height: 12vh;
        width: 12vh;
    }
    .main-1{
        flex-direction: column;
        align-items: center;
    }
    .hero{
        background-size: cover;
    }
    .section-info-general div{
        width: 100%;
    }
    .trailer div iframe{
        min-width: 150px;
    }
    aside{
        width: 80%;
    }
    .contenedor-ima{
        width: 40vh;
        height: 40vh;
    }
    .contenedor-ima:hover{
        width: 42vh;
        height: 42vh;
    }
    .div-armas{
        height: 30vh;
        min-width: 100px;
        width: 30vh;
    }
    .div-armas:hover{
        height: 32vh;
        width: 32vh;

    }
    .div-suce{
        font-size: 25px;
        width: 60%;
        height: 20vw;
    }
    .div-suce:hover{
        color: white;
        width: 63%;
        filter: brightness(.8);
        border: solid white 1px;
    }

    .grid-container{
        grid-auto-rows: 100px;
    }
  }
@media only screen and (max-width:490px){
    header{
        font-size: 15px;
        flex-direction: column;
        height: 30vh;
    }
    nav{
        height: 16vh;
        position: relative;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    .hero{
        height: 54vh;
        background-size: cover;
    }
    footer{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 20vh;
    }
    .redes{
        flex-direction: row;
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .yo{
        grid-row: 3/6;
        grid-column: 1/4;
    }
    .yo img{
        width: 30vw;
        height: 60vw;
    }
}

