.body-g {
    background-image: url(../img/galeria/galeria38.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100vh;
    background-attachment: fixed; 
    section{
      margin: 40px auto;
      width: 95%;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(3,1fr);
      grid-auto-rows: 200px;
      div{
        position: relative;
        text-align: center;
        border: solid $color-primario 1px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: .6s;
            &:hover{
                filter: brightness(.6);
            }
          }
      }
    .img2{
        grid-column: span 2;
        grid-row: span 2;
    }
    .img3{
        grid-row: span 2;
    }
    .img4{
        grid-column: span 2;
    }
    .img5{
        grid-column: span 2;
        grid-row: span 2;
    }
    .img8{
        grid-column: span 3;
        grid-row: span 2;
    }
    .img11{
        grid-row: span 3;
    }
    .img12{
        grid-column: span 2;
        grid-row: span 2;
    }
    .img13{
        grid-row: span 2;
    }
    .img14{
        grid-column: span 2;
        grid-row: span 3;
    }
    .img15{
        grid-column: span 2;
    }
    .img16{
        grid-row: span 2;
        grid-column: span 2;
    }
    .img17{
        grid-row: span 3;
    }
    .img18{
        grid-column: span 2;
    }
    }
  }