*{
    scroll-behavior: smooth;
    cursor: -moz-zoom-in;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    text-align: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    height: 18vh;
    background: $fondo-oscurito;
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 29%);
    div{
        .m-t-i{
            color: $color-primario !important;
            font-size: 30px !important;
        }
        div{
            ul{
                li{
                    a{
                        color: nth($colores ,1)  !important;
                    }
                    .focus{
                        color: nth($colores , 3) !important;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    img{
        width: 100px;
        &:hover{
            animation-name: vueltitas;
            animation-duration: 6s;
            animation-direction: initial;

        }

    }

}
hr{
    @extend %linea
}

@keyframes vueltitas{
    20%{
        transform: scale(.7);
        translate: -20px 20px;
    }
    50%{
        transform:scaleY(.6) ;
        translate: -20px 30px;
    }
    75%{
        translate: -20px 0px;
        transform: rotateZ(50deg);
    }
    85%{
        transform: rotateZ(-360deg);
    }
    100%{
        transform: scale(1);
    }
}

