
@media only screen and (max-width:1150px){
    .body-m{
        main{
            flex-direction: column;
            align-items: center;
            aside{
                position: relative;
                width: 60%;
                height: auto;
                h1{
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                }
                .gracia{
                    width: 40%;
                }
            }
            section{
                width: 100%;
                div{
                    width: 100%;
                    .tarjeta{
                        width: 80%;
                    }
                }
            }
        }
           
    }
    nav{
        height: auto;
        img{
            display: none;
        }
    }
}



@media only screen and (max-width:730px){
    .body-m{
        main{
            aside{
                width: 96%;
            }
            section{
                flex-direction: column;
                div{
                    width: 100%;
                }
            }
        }
           
    }
    .body-g{
        section{
            grid-auto-rows: 100px;
        }
    }
}



@media only screen and (max-width:490px){
    footer{
        font-size: 10px;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 20vh;
        .redes{
            flex-direction: row;
            grid-column: 1/4;
            grid-row: 2/3;
        }
        .yo{
            grid-row: 3/6;
            grid-column: 1/4;
            img{
                width: 30vw;
                height: 60vw;
            }
        }
    }
}